<template>
  <el-row :gutter="20" v-loading="loading">
    <el-col>
      <el-row>
        <el-col>
          <div @mouseover.once="showMessage('双击信息卡，进入控制面板')">
            <el-card
              v-for="(repo, index) in ctrlRepos"
              :key="index"
              shadow="hover"
              body-style="background-color:#F2F6FC"
              class="repo-card"
            >
              <div slot="header" @dblclick="gotoDashBoard(repo)">
                <span class="repo-name">{{repo.projectName}}</span>
              </div>
              <div @dblclick="gotoDashBoard(repo)">
                <span class="repo-label">仓库拥有者:</span>
                <span class="repo-owner">{{repo.projectOwner}}</span>
                <span class="repo-label">上次评估时间:</span>
                <span class="repo-ana-time">{{repo.lastAnalyzedTime}}</span>
                <i class="el-icon-success repo-icon-ctrl"></i>
              </div>
            </el-card>
          </div>
        </el-col>
      </el-row>
      <div class="seperate"></div>
      <el-row>
        <el-col>
          <div @mouseover.once="showMessage('双击信息卡，加入分析队列')">
            <el-card
              v-for="(repo, index) in unctrlRepos"
              :key="index"
              class="repo-card"
              shadow="hover"
              body-style="background-color:#F2F6FC"
            >
              <div slot="header" @dblclick="gotoControlRepo(repo.remoteUrl)">
                <span class="repo-name">{{repo.projectName}}</span>
              </div>
              <div @dblclick="gotoControlRepo(repo.remoteUrl)">
                <span class="repo-label">仓库拥有者:</span>
                <span class="repo-owner">{{repo.projectOwner}}</span>
                <span class="repo-label">仓库地址:</span>
                <span class="repo-uri">
                  <a>{{repo.remoteUrl}}</a>
                </span>
                <i class="el-icon-question repo-icon-unctrl"></i>
              </div>
            </el-card>
          </div>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: "controled",
  props: ["ctrlRepos", "unctrlRepos"],
  data() {
    return {
      loading: true,
      unCtrlLth: 0,
    };
  },
  mounted() {
    this.loading = (this.ctrlRepos == undefined) ||(this.unctrlRepos == undefined)
  },
  updated() {
    var ctrlLth = 0;
    if(this.ctrlRepos != undefined){
      ctrlLth = this.ctrlRepos.length;
    }
    var unCtrlLth = 0;
    if(this.unctrlRepos != undefined){
      unCtrlLth = this.unctrlRepos.length;
    }
    if(unCtrlLth != 0 || ctrlLth != 0){
      this.loading = false;
    }
  },
  methods: {
    gotoDashBoard: function(repo) {
      this.$emit('gotoRepoDashboard', repo)
    },
    gotoControlRepo: function(uri) {
      this.$emit('checkUnctrl', uri)
    },
    showMessage: function(msg) {
      this.$message({ message: msg, duration: 3000 });
    }
  }
};
</script>

<style>
.repo-name,
.repo-label,
.repo-ana-time,
.repo-owner,
.repo-uri {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.repo-name {
  font-weight: bold;
  color: #303133;
  font-size: 18px;
}
.repo-label {
  color: #909399;
  font-size: 16px;
  margin-right: 5px;
}
.repo-ana-time,
.repo-owner {
  color: #606266;
  font-size: 14px;
  margin-right: 15px;
}
.repo-uri {
  color: #606266;
  font-size: 14px;
}
.repo-icon-ctrl {
  color: #67c23a;
  font-size: 22px;
  margin-left: 30px;
}
.repo-icon-unctrl {
  color: #409eff;
  font-size: 22px;
  margin-left: 30px;
}
.seperate {
  height: 1px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #dcdfe6;
}
.repo-card {
  margin-bottom: 15px;
  text-align: center;
}
</style>
