<template>
  <el-card shadow="hover" style="height:100%;">
    <div slot="header" class="clearfix">
      <span>开发者/开发活动贡献质量指数</span>
    </div>
    <el-table
      :data="devs"
      :show-header="false"
      style="width: 100%;font-size:14px"
      height="400"
    >
      <el-table-column>
        <template slot-scope="scope">
          {{scope.row.devs}}
          <el-progress :percentage="scope.row.score"/>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
</template>

<script>
export default {
    name: 'developers',
    props: ['devs'],
    data(){
      return{
        
      }
    }
}
</script>
