<template>
  <el-card shadow="hover" style="100%">
    <div slot="header" class="clearfix">
      <span>{{title}}</span>
    </div>
    <div id="aqiContainer" style="weight: 400px; height: 400px"></div>
  </el-card>
</template>

<script>
import echarts from "echarts";

export default {
  name: "aqi",
  props: ["fApi", "title", "commits"],
  getDate: function(date) {
    this.$emit("getDate", date);
  },
  data() {
    return {
      api: [],
      commitList: []
    };
  },
  created() {
    this.api = this.fApi;
  },
  watch: {
    commits: function() {
      this.extractCommit(this.commits);
      let that = this;
      if (this.commitList.length < 2) {
        this.open();
        return;
      }
      this.drawAqi(this.commitList);
      that.aqiChart.on("click", function(params) {
        // params.name返回的就是日期，格式为：yyyy-mm-dd
        // window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name))
        that.getDate(params.name);
      });
    }
  },
  mounted() {
    let aqiChart = echarts.init(document.getElementById("aqiContainer"));
    let that = this;
    that.aqiChart = aqiChart;
  },
  methods: {
    open() {
      const h = this.$createElement;
      this.$notify({
        title: "标题名称",
        message: h(
          "i",
          { style: "color: teal" },
          "提交信息不足，曲线图无法加载"
        )
      });
    },
    extractCommit: function(commits) {
      var yearDates = commits.map(function(commit) {
        return commit.yearDate;
      });
      var start = yearDates[yearDates.length - 1];
      var end = yearDates[0];
      var dArray = this.createDateArray(start, end);
      var offset = yearDates.length - 1;
      for (var i = 0; i < dArray.length; i++) {
        var count = 0;
        for (var j = offset; j >= 0; j--) {
          // console.log(
          //   "[i=" +
          //     i +
          //     " j=" +
          //     j +
          //     " offset=" +
          //     offset +
          //     "] " +
          //     yearDates[j] +
          //     " == " +
          //     dArray[i][0] +
          //     "? count=" +
          //     count
          // );
          if (yearDates[j] == dArray[i][0]) {
            count++;
            if (j == 0) {
              dArray[i].push(count);
            }
          } else {
            offset = j;
            dArray[i].push(count);
            break;
          }
        }
      }
      this.commitList = dArray;
    },
    createDateArray: function(start, end) {
      var starts = start.split("-");
      var ends = end.split("-");
      var startY = parseInt(starts[0]);
      var startM = parseInt(starts[1]);
      var startD = parseInt(starts[2]);
      var endY = parseInt(ends[0]);
      var endM = parseInt(ends[1]);
      var endD = parseInt(ends[2]);

      var dateArray = [];
      var aDay = new Date();
      Date.prototype.getYearDate = function() {
        return (
          this.getFullYear() +
          "-" +
          (this.getMonth() + 1) +
          "-" +
          this.getDate()
        );
      };
      aDay.setFullYear(startY);
      aDay.setMonth(startM - 1);
      aDay.setDate(startD);
      dateArray.push([aDay.getYearDate()]);
      var l = this.getDayGaps(startY, startM, startD, endY, endM, endD);
      for (var i = 0; i < l; i++) {
        aDay.setDate(aDay.getDate() + 1);
        dateArray.push([aDay.getYearDate()]);
      }
      return dateArray;
    },
    getDayGaps: function(y1, m1, d1, y2, m2, d2) {
      var date1 = new Date(y1, m1 - 1, d1);
      var date2 = new Date(y2, m2 - 1, d2);
      var t1 = date1.getTime();
      var t2 = date2.getTime();
      var aDay = 1000 * 60 * 60 * 24;
      var minusDays = Math.floor((t2 - t1) / aDay);
      var days = Math.abs(minusDays);
      return days;
    },
    drawAqi: function(ctnt) {
      var option = {
        title: {},
        tooltip: {
          trigger: "axis"
        },
        xAxis: {
          data: ctnt.map(function(item) {
            return item[0];
          })
        },
        yAxis: {
          splitLine: {
            show: false
          }
        },
        toolbox: {
          left: "center",
          feature: {
            dataZoom: {
              yAxisIndex: "none"
            },
            restore: {},
            saveAsImage: {}
          }
        },
        dataZoom: [
          {
            startValue: "2014-06-01"
          },
          {
            type: "inside"
          }
        ],
        visualMap: {
          top: 10,
          right: 10,
          pieces: [
            {
              gt: 0,
              lte: 5,
              color: "#096"
            },
            {
              gt: 5,
              lte: 10,
              color: "#ffde33"
            },
            {
              gt: 10,
              lte: 20,
              color: "#ff9933"
            },
            {
              gt: 20,
              lte: 50,
              color: "#cc0033"
            },
            {
              gt: 50,
              lte: 100,
              color: "#660099"
            },
            {
              gt: 100,
              color: "#7e0023"
            }
          ],
          outOfRange: {
            color: "#999"
          }
        },
        series: {
          name: "Commit Counts",
          type: "line",
          data: ctnt.map(function(item) {
            return item[1];
          }),
          markLine: {
            silent: true,
            data: [
              {
                yAxis: 5
              },
              {
                yAxis: 10
              },
              {
                yAxis: 20
              },
              {
                yAxis: 50
              },
              {
                yAxis: 100
              }
            ]
          }
        }
      };
      this.aqiChart.setOption(option);
    },
    getDate: function(date) {
      this.$emit("checkCommitDay", date);
    }
  }
};
</script>
