<template>
  <div>
    <el-card shadow="hover" style="100%">
      <div slot="header" class="clearfix">
        <span>{{summary}}</span>
      </div>
      <div id="pieGraph" style="weight: 400px; height: 400px"></div>
    </el-card>
  </div>
</template>

<script>
import echarts from "echarts";

export default {
  name: "pieGraph",
  data() {
    return {
      dataCtnt: null,
      dataType: null,
      father: ""
    };
  },
  props: ["summary", "devs", "cmt1", "cmt2"],
  created() {},
  watch: {
    devs: function() {
      this.draw();
    }
  },
  mounted() {
    var path = this.$route.path.replace("/", "");
    var firstSlashIdx = path.indexOf("/");
    this.father = path.slice(0, firstSlashIdx);
    console.log("[pie] Father component is: " + this.father);
    var that = this;
    var pieChart = echarts.init(document.getElementById("pieGraph"));
    that.pieChart = pieChart;
    if(this.devs == undefined || this.devs.length == 0){
      return
    }
    this.draw();
  },
  methods: {
    draw: function() {
      this.dataCtnt = this.getDevDetails(this.devs);
      this.dataType = this.getDevList(this.devs);
      console.log("=====================");
      console.log(this.dataCtnt);
      console.log(this.dataType);
      console.log("=====================");
      let that = this;
      var pieChart = this.pieChart;
      this.drawPie(pieChart);
      that.pieChart.on("click", function(params) {
        var userPlatform = that.$store.state.platform;
        var user = that.$store.state.user;
        var owner = that.$store.state.projectOwner;
        var name = that.$store.state.projectName;
        var url =
          "/issues/" + userPlatform + "/" + user + "/" + owner + "/" + name;
        // 通过this.path判断pie的点击事件是跳转到issue还是过滤issues中非点击实体
        console.log("[pie] in devs watch");
        console.log(that.father);
        if (that.father == "dashboard") {
          // 跳转到issues界面
          that.$router.push({
            path: url
          });
        } else {
          that.$emit("getSelectedDevs", params.name);
        }
      });
    },
    getDevList: function(devs) {
      var a = new Array();
      for (var i = 0; i < devs.length; i++) {
        a.push(devs[i].devs);
      }
      return a;
    },
    getDevDetails: function(devs) {
      var a = new Array();
      for (var i = 0; i < devs.length; i++) {
        a.push({
          name: devs[i].devs,
          value: devs[i].files
        });
      }
      return a;
    },
    drawPie(pieChart) {
      pieChart.setOption({
        title: {},
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b}:{c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          x: "left",
          data: this.dataType
        },
        series: [
          {
            name: "开发者贡献量",
            type: "pie",
            radius: ["50%", "70%"],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: false,
                position: "center"
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "30",
                  fontWeight: "bold"
                }
              }
            },
            labelLine: {
              normal: {
                show: false
              }
            },
            data: this.dataCtnt
          }
        ]
      });
    }
  }
};
</script>

