<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {};
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
}
body {
  margin: 0;
}
.seperate {
  height: 1px;
  border: none;
  border-top: 1px solid #dcdfe6;
}
h1,
h2 {
  font-weight: normal;
}
a {
  color: #42b983;
}
.el-row {
  margin-bottom: 5px;
  border-radius: 4px;
}
</style>
