<template>
  <el-container>
    <el-header>
      <bcheader></bcheader>
    </el-header>
    <el-container>
      <transition>
        <el-aside width="201px" v-if="show" class="aside">
          <el-menu
            :default-active="onRoutes"
            class="el-sidebar-menu sidebar"
            background-color="#F2F6FC"
            text-color="#606266"
            active-text-color="#67C23A"
            @select="handleSelect"
          >
            <el-menu-item index="overview">
              <i class="el-icon-setting"></i>
              <span slot="title">仓库管理</span>
            </el-menu-item>
            <el-menu-item index="dashboard">
              <i class="el-icon-menu"></i>
              <span slot="title">控制面板</span>
            </el-menu-item>
            <el-menu-item index="issues">
              <i class="el-icon-bell"></i>
              <span slot="title">ISSUES</span>
            </el-menu-item>
            <el-menu-item index="life">
              <i class="el-icon-document"></i>
              <span slot="title">生命周期</span>
            </el-menu-item>
          </el-menu>
        </el-aside>
      </transition>
      <div class="seperate" style="margin-top:0"></div>
      <el-container>
        <el-main class="bc-main">
          <router-view></router-view>
        </el-main>
        <el-footer>
          <div class="bc-footer">
            <div class="seperate"></div>
            <el-row>
              <el-col :span="10" class="footer-left">
                <div>
                  <span class="ise">南京大学·智能软件工程实验室</span>
                  <span class="ise">
                    <a class="ise" href="http://www.iselab.cn/">http://www.iselab.cn/</a>
                  </span>
                </div>
              </el-col>
              <el-col :span="10" :offset="3">
                <div class="footer-right">
                  <span class="info">
                    BetterCode项目由
                    <a class="info-a" href="https://gitlab.com/GitMining">GitMining</a>开发组负责维护
                  </span>
                </div>
              </el-col>
            </el-row>
          </div>
        </el-footer>
      </el-container>
    </el-container>
  </el-container>
</template>

<script>
import bcheader from "../components/commons/header";

export default {
  name: "home",
  components: {
    bcheader
  },
  data() {
    return {
      user: this.$store.state.user,
      platform: this.$store.state.platform,
      projectId: this.$store.state.projectId,
      projectOwner: this.$store.state.projectOwner,
      projectName: this.$store.state.projectName
    };
  },
  mounted() {},
  created() {
    document.title="BetterCode"
  },
  computed: {
    show: function() {
      var tmp = this.$route.path.replace("/", "");
      if (tmp.indexOf("overview") == 0) {
        return false;
      }
      return true;
    },
    onRoutes() {
      var tmp = this.$route.path.replace("/", "");
      var idx = tmp.indexOf("/");
      var index = tmp.substring(0, idx);
      return index;
    }
  },
  methods: {
    getUrlParams: function() {
      var tmp = this.$route.path;
    },
    handleSelect(key, keyPath) {
      console.log(
        "[Home-handleSelect]-userPlatform: " + this.$store.state.platform
      );
      console.log("[Home-handleSelect]-user: " + this.$store.state.user);
      console.log(
        "[Home-handleSelect]-projectPlatform: " +
          this.$store.state.remotePlatform
      );
      console.log(
        "[Home-handleSelect]-owner: " + this.$store.state.projectOwner
      );
      console.log(
        "[Home-handleSelect]-name: " + this.$store.state.projectName
      );
      console.log("[Home-handleSelect]-id: " + this.$store.state.projectId);
      this.user = this.$store.state.user;
      this.platform = this.$store.state.platform;
      this.projectId = this.$store.state.projectId;
      this.projectOwner = this.$store.state.projectOwner;
      this.projectName = this.$store.state.projectName;
      this.remotePlatform = this.$store.state.remotePlatform;
      if (
        this.user.length == 0 ||
        this.platform.length == 0 ||
        this.projectId.length == 0 ||
        this.projectOwner.length == 0 ||
        this.projectName.length == 0
      ) {
        this.$router.push("/login");
      }
      if (key == "overview") {
        var uri = "/overview/" + this.platform + "/" + this.user;
        this.$router.push(uri);
      } else {
        var uri =
          "/" +
          key +
          "/" +
          this.platform +
          "/" +
          this.user +
          "/" +
          this.projectOwner +
          "/" +
          this.projectName;
        if (key == "dashboard") {
          this.$router.push({
            path: uri,
            query: {
              remotePlatform: this.remotePlatform,
              projectId: this.projectId
            }
          });
        } else {
          this.$router.push(uri);
        }
      }
    }
  }
};
</script>

<style>
.ise,
.info {
  color: #909399;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin-right: 16px;
}
.info-a {
  color: #909399;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.info {
  margin-left: 20px;
}
.bc-main {
  background-color: #f5f5f5;
}
.el-footer {
  padding-left: 0;
  padding-right: 0;
}
.aside {
  background-color: #545c64;
}
.sidebar {
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
.el-sidebar-menu {
  width: 200px;
}
.bc-footer {
  margin-bottom: 20px;
}
.footer-left {
  margin-left: 10px;
  text-align: left;
  margin-top: 20px;
}
.footer-right {
  text-align: right;
  margin-top: 20px;
}
</style>