<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="16">
        <developers :devs="devs"></developers>
      </el-col>
      <el-col :span="8">
        <pie
          :summary="fileSummary"
          :devs="devs"
          :cmt1="commit1"
          :cmt2="commit2"
          @getSelectedDevs="filterIssuesByDevs"
        ></pie>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col>
        <el-table
          :data="issues"
          style="width: 100%"
          :row-class-name="tableRowClassName"
          v-loading="loading"
          element-loading-text="数据加载中"
          class="issue_tab"
        >
          <el-table-column prop="devs" label="开发者/开发小组" sortable align="center"/>
          <el-table-column prop="filename" label="文件名" sortable align="center">
            <template slot-scope="scope">
              <!-- 这里跳转到文件生命周期component中 -->
              <a>{{scope.row.filename}}</a>
            </template>
          </el-table-column>
          <el-table-column prop="method" label="类名/函数名" align="center"/>
          <el-table-column prop="metric" label="度量指标" align="center"/>
          <el-table-column prop="state" label="状态" sortable align="center">
            <template slot-scope="scope">
              <span>{{scope.row.state}}</span>
              <i :class="scope.row.class"/>
            </template>
          </el-table-column>
          <!-- 这里查看文件细节 -->
          <!-- <el-table-column fixed="right" label="操作" width="100">
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" type="text">查看</el-button>
            </template>
          </el-table-column> -->
        </el-table>
        <!-- 当前的业务逻辑不太适合做分页 -->
        <!-- <el-pagination
          background
          layout="prev, pager, next"
          :total="1000"
          @current-change="handleCurrentChange"
        ></el-pagination>-->
      </el-col>
    </el-row>
  </div>
</template>

<style>
/* .issue_tab {
  font-size: 19px;
} */
</style>


<script>
import pie from "../components/charts/pie";
import developers from "../components/tables/developers";

export default {
  name: "issues",
  components: {
    pie,
    developers
  },
  data() {
    return {
      loading: true,
      issues: [
        // {
        //   devs: "Andor Molnar, Norbert Kalmar",
        //   filename:
        //     "apache/zookeeper/zookeeper-server/src/test/java/org/apache/zookeeper/ClientRequestTimeoutTest.java",
        //   method: "getCxnString()",
        //   metric: "MethodCyclomaticComplexity",
        //   state: "WARNING",
        //   class: "el-icon-warning"
        // },
        // {
        //   devs: "Andor Molnar, Norbert Kalmar",
        //   filename:
        //     "apache/zookeeper/zookeeper-server/src/test/java/org/apache/zookeeper/ClientRequestTimeoutTest.java",
        //   method: "getCxnString()",
        //   metric: "MethodVariables",
        //   state: "WARNING",
        //   class: "el-icon-warning"
        // }
      ],
      fileSummary: "开发者/开发活动贡献文件量",
      devs: [],
      commit1: "",
      commit2: ""
    };
  },
  created() {
    this.commit1 = this.$route.query.cmt1;
    this.commit2 = this.$route.query.cmt2;
    console.log("In created() " + this.commit1 + " and " + this.commit2);
    if (
      this.commit1 != undefined &&
      this.commit1.length > 0 &&
      this.commit2 != undefined &&
      this.commit2.length > 0
    ) {
      this.getData();
    } else {
      this.devs = this.$store.state.devs;
      var rawIssues = this.$store.state.issues;
      console.log(rawIssues);
      this.sliceIssueFilename(rawIssues);
      console.log(this.issues);
      console.log(this.devs);
      if (this.issues != undefined || this.issues.length > 0) {
        this.loading = false;
      }
      this.judgeState(this.issues);
    }
  },
  computed: {},
  methods: {
    getData: function() {
      if (this.commit1 == undefined || this.commit2 == undefined) {
        return;
      }
      var baseUrl = this.$store.state.baseUrl;
      var owner = this.$store.state.projectOwner;
      var name = this.$store.state.projectName;
      var projectId = this.$store.state.projectId;
      var cmt1 = this.commit1;
      var cmt2 = this.commit2;
      var api =
        baseUrl +
        "/issues/" +
        owner +
        "/" +
        name +
        "?projectId=" +
        projectId +
        "&cmt1=" +
        cmt1 +
        "&cmt2=" +
        cmt2;
      console.log(api);
      this.$http.get(api).then(function(res) {
        console.log("Get result successfully");
        console.log(res);
        this.$store.commit("saveIssues", res.body.data.issues);
        this.$store.commit("saveDevs", res.body.data.devs);
        this.devs = res.body.data.devs;
        var rawIssues = res.body.data.issues;
        this.sliceIssueFilename(rawIssues);
        if (this.issues != undefined || this.issues.length > 0) {
          this.loading = false;
        }
        this.judgeState(this.issues);
      });
    },
    filterIssuesByDevs: function(devsName) {
      console.log("[issues] selected devs in pie component is:");
      console.log(devsName);
      // 根据pie-component中的选中的开发者/（组）名称，过滤issues-table
      var rawIssues = this.$store.state.issues;
      var raw = rawIssues.filter(issue => issue["devs"] == devsName);
      this.issues = [];
      this.sliceIssueFilename(raw);
    },
    sliceIssueFilename: function(rawData) {
      if (rawData == undefined || rawData.length == 0) {
        return [];
      }
      for (var i = 0; i < rawData.length; i++) {
        var issue = rawData[i];
        issue["filename"] = this.extractFilename(issue["filename"]);
        this.issues.push(issue);
      }
    },
    extractFilename: function(filename) {
      var saveIdx = filename.indexOf("repos");
      if (saveIdx != 1) {
        return filename;
      }
      var name = filename.slice(7);
      var slash = name.indexOf("/");
      if (slash == -1) {
        slash = name.indexOf("\\");
      }
      if (slash < 0) {
        return name;
      }
      return name.slice(slash);
    },
    handleCheckFileLifeCircle: function(file) {
      console.log(file);
      // 跳转到文件生命周期组件中
    },
    tableRowClassName({ row, rowIndex }) {
      if (row.code === 1) {
        return "warning-row";
      } else if (row.code === 2) {
        return "error-row";
      }
      return "";
    },
    judgeState(issues) {
      for (var i = 0; i < issues.length; i++) {
        var issue = issues[i];
        if (issue["code"] === 1) {
          issue["class"] = "el-icon-warning";
        } else if (issue["code"] === 2) {
          issue["class"] = "el-icon-error";
        }
      }
    },
    handleClick(row) {
      console.log(row);
    },
    handleCurrentChange(val) {
      console.log("当前页" + val);
    }
  }
};
</script>

<style>
.el-table .error-row {
  background: oldlace;
}
</style>