<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="12" :offset="3">
        <controled
          :ctrlRepos="overview.controlledProjects"
          :unctrlRepos="overview.uncontrolledProjects"
          @checkUnctrl="getUnctrlName"
          @gotoRepoDashboard="gotoRepoDashboard"
        ></controled>
      </el-col>
      <el-col :span="7">
        <el-row>
          <el-col class="grid-content bg-purple-light">
            <SearchRepo
              :searchUri="unCtrlUri"
              :user="user"
              :userPlatform="platform"
              @searched="countSearchTimes"
            ></SearchRepo>
          </el-col>
        </el-row>
        <el-row>
          <el-col class="grid-content bg-purple-light">
            <task :searchCount="searchCount" :user="user" :platform="platform"></task>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import SearchRepo from "../components/search/SearchRepo";
import task from "../components/tables/task";
import controled from "../components/tables/controled";

export default {
  name: "Overview",
  components: {
    SearchRepo,
    task,
    controled
  },
  data() {
    return {
      user: "",
      platform: "",
      overview: {},
      unCtrlUri: "",
      searchCount: 0
    };
  },
  created() {
    this.user = this.$route.params.user;
    console.log("[Overview-Created] " + this.user)
    this.platform = this.$route.params.platform;
    console.log("[Overview-Created] " + this.platform)
    this.$store.commit('saveUser', this.user)
    this.$store.commit('savePlatform', this.platform)
    console.log("[Store-User] " + this.$store.state.user)
    console.log("name: " + this.user + " from: " + this.platform);
    var baseUrl = this.$store.state.baseUrl;
    var userOverviewUri =
      baseUrl + "/overview/" + this.platform + "/" + this.user;
    this.$http.get(userOverviewUri).then(function(res) {
      var state = res.body.state;
      if (state == "failure") {
        this.$router.push({ path: "/login" });
      }
      this.overview = res.body.data;
    });
    this.timmer();
  },
  beforeDestroy() {
    clearInterval(this.timmer);
  },
  methods: {
    getUnctrlName: function(uri) {
      this.unCtrlUri = uri;
    },
    gotoRepoDashboard: function(params) {
      this.$store.commit('saveRemotePlatform', params.remotePlatform)
      this.$store.commit('saveProjectId', params.projectId)
      this.$store.commit('saveProjectOwner', params.projectOwner)
      this.$store.commit('saveProjectName', params.projectName)
      var uri =
        "/dashboard/" +
        this.platform +
        "/" +
        this.user +
        "/" +
        params.projectOwner +
        "/" +
        params.projectName;
      this.$router.push({
        path: uri,
        query: {
          remotePlatform: params.remotePlatform,
          projectId: params.projectId
        }
      });
    },
    countSearchTimes: function() {
      console.log("Before add: " + this.searchCount);
      this.searchCount = this.searchCount + 1;
      console.log("After add: " + this.searchCount);
    },
    timmer: function() {
      return setInterval(() => {
        this.getData();
      }, 15000);
    },
    getData: function() {
      var baseUrl = this.$store.state.baseUrl;
      var userOverviewUri =
        baseUrl + "/overview/" + this.platform + "/" + this.user;
      this.$http.get(userOverviewUri).then(function(res) {
        var state = res.body.state;
        if (state == "failure") {
          this.$router.push({ path: "/login" });
        }
        this.overview = res.body.data;
      });
    }
  }
};
</script>

<style>
.el-row {
  margin-bottom: 10px;
}
.el-col {
  border-radius: 4px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
</style>
