<template>
  <el-container
    element-loading-text="用户登录中"
    element-loading-spinner="el-icon-loading"
    v-loading.fullscreen.lock="fullscreenLoading"
  ></el-container>
</template>

<script>
export default {
  data() {
    return {
      fullscreenLoading: true
    };
  },
  beforeCreate() {
    var uri = window.location.href;
    var s = uri.lastIndexOf("/") + 1;
    var e = uri.indexOf("?");
    var platform = uri.substring(s, e);
    var idx = uri.indexOf("code") + 5;
    var codeNum = uri.substring(idx);
    var baseUrl = this.$store.state.baseUrl;
    var callback =
      baseUrl + "/callback/" + platform + "?code=" + codeNum;
    this.$http.get(callback).then(function(res) {
      var username = res.body.loginName;
      this.$router.push({
        path: "/overview/" + platform + "/" + username,
      });
    });
  }
};
</script>
