<template>
  <el-card shadow="hover" body-style="height:250px">
    <div slot="header" class="clearfix">
      <Span>获取远程仓库</Span>
    </div>
    <el-form label-width="90px">
      <el-form-item label="远程仓库">
        <el-input v-model="searchUri" placeholder="https://platfom/owner/repo.git"></el-input>
      </el-form-item>
      <el-form-item label="所处平台" size="small">
        <el-input v-model="platform"></el-input>
      </el-form-item>
      <el-form-item label="仓库拥有者" size="small">
        <el-input v-model="owner"></el-input>
      </el-form-item>
      <el-form-item label="仓库名称" size="small">
        <el-input v-model="reponame"></el-input>
      </el-form-item>
      <el-button type="primary" @click.prevent="onSubmit()">
        <span>获取</span>
      </el-button>
      <el-button type="primary" @click.prevent="extractInfo(searchUri)">
        <span>提取信息</span>
      </el-button>
    </el-form>
  </el-card>
</template>

<script>
export default {
  name: "SearchRepo",
  props: ["searchUri", "user", "userPlatform"],
  data() {
    return {
      uri: "",
      platform: "",
      owner: "",
      reponame: ""
    };
  },
  methods: {
    onSubmit: function() {
      console.log("Before submmit: " + this.searchUri);
      if (
        this.owner.length == 0 ||
        this.platform.length == 0 ||
        this.reponame.length == 0
      ) {
        this.extractInfo(this.searchUri);
      }
      var baseUrl = this.$store.state.baseUrl;
      this.$http
        .post(
          baseUrl + "/repo/clone",
          {
            uri: this.searchUri,
            platform: this.platform,
            owner: this.owner,
            projectName: this.reponame,
            user: this.user,
            userPlatform: this.userPlatform
          },
          {
            emulateJSON: true
          }
        )
        .then(function(res) {

          this.$emit("searched")
          console.log("Search Result: " + res.body.data);
        })
        .catch(function(res) {
          console.log("Search Error: " + res.body);
        });
      // 信息在提交后清除
      this.platform = "";
      this.owner = "";
      this.reponame = "";
    },
    extractInfo(uri) {
      var count = 0;
      var offset = 0;
      var index = [];
      do {
        offset = uri.indexOf("/", offset);
        if (offset != -1) {
          index[count] = offset;
          count++;
          offset += 1;
        }
      } while (offset != -1);
      offset = uri.indexOf(".", index[index.length - 1]);
      if (offset != -1) {
        index[count] = offset;
      }
      for (var i = 1; i < index.length - 1; i++) {
        var sub = uri.substring(index[i] + 1, index[i + 1]);
        switch (i) {
          case 1:
            this.platform = sub;
            break;
          case 2:
            this.owner = sub;
            break;
          case 3:
            this.reponame = sub;
            break;
          default:
            break;
        }
      }
    }
  }
};
</script>
