<template>
  <el-card shadow="hover" body-style="height:250px">
    <div slot="header">
      <Span>开发活动查询</Span>
    </div>
    <el-form>
      <el-form-item label="提交节点1">
        <el-input v-model="commit1" placeholder="开发周期中的重要提交节点">{{commit1}}</el-input>
      </el-form-item>
      <el-form-item label="提交节点2">
        <el-input v-model="commit2" placeholder="开发周期中的重要提交节点">{{commit2}}</el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">
          <span>搜索</span>
        </el-button>
        <!-- <el-button type="primary" @click="onClear">
          <span>清空</span>
        </el-button> -->
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
export default {
  name: "SearchActs",
  props: ["commit1", "commit2"],
  methods: {
    onSubmit: function() {
      var userPlatform = this.$store.state.platform;
      var user = this.$store.state.user;
      var owner = this.$store.state.projectOwner;
      var name = this.$store.state.projectName;
      console.log('[user]: ' + user + ' [user-platform]: ' + userPlatform + ' [owner]: ' + owner + ' [name]: ' + name)
      var url = '/issues/'+userPlatform+'/'+user+'/'+owner+'/'+name
      console.log('[url]: ' + url)
      console.log('[commit1]: ' + this.commit1)
      console.log('[commit2]: ' + this.commit2)
      // 请求查询开发周期内所有的开发活动的评估结果，并进行页面跳转
      this.$router.push({path: url, query:{cmt1: this.commit1, cmt2: this.commit2}})
    },
    // onClear: function() {
    //   console.log(
    //     "Before clearing: {commit1=" +
    //       this.commit1 +
    //       "}, {commit2=" +
    //       this.commit2 +
    //       "}"
    //   );
    //   this.commit1 = "";
    //   this.commit2 = "";
    //   console.log(
    //     "After clearing: {commit1=" +
    //       this.commit1 +
    //       "}, {commit2=" +
    //       this.commit2 +
    //       "}"
    //   );
    // }
  }
};
</script>

